<div style="display: flex; flex-direction: column; width: 100%; height: fit-content; ">
    <app-header></app-header>
    <div class="mi_row" style="width: 100%; height: fit-content; ">
        <app-sidebar></app-sidebar>
        <div style="padding: 32px;  width: 100%; height: fit-content; padding-bottom: 128px;">

            <div style=" display: flex;flex-direction: column; gap: 24px; justify-content: center;">
                <div class="container">
                    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
                    <img src="assets/iconos/icon_upload.svg" alt="Upload">
                    <h3>Drag and drop file here</h3>
                    <h3>or</h3>
                    <label for="fileDropRef">Browse for file</label>

                </div>

                <div style="display: flex; flex-direction: column; gap: 16px; width: 463px; margin: auto;">

                    <app-files-card *ngFor="let f of files" [file]=f (eventFunction)="deleteFile($event)">
                    </app-files-card>
                </div>

                <button class="btn" *ngIf="subir" (click)="onUpload()">Upload</button>

            </div>

            <!-- <input type="file" multiple (change)="onFileSelected($event)">
        <button type="button" (click)="onUpload()">Subir</button> -->

            <!-- <app-file-uploader></app-file-uploader> -->
        </div>

    </div>
</div>