.content-wrapper{
  .side{
    min-width: 55px;
    background-color: var(--primary-color);
    // height: 100%;
  }

  .content{
    margin: 15px 15px 10px 15px;
    width: 100%;

    .upload-wrapper {
      text-align: center;
      position: relative;

      .upload-icon {
        font-size: 80px;
        padding-right: 75px;
      }

      input[type=file] {
        height: 60px;
        position: absolute;
        left: 38%;
        top: 10px;
        opacity: 0;
        width: 70px;
      }
    }

    .buttons{
      padding: 15px 5px 5px 5px;
      display: flex;
      justify-content: space-between;
    }
  }
}