<div style="width: 100%;">
    <p-card class="card-info-sigit">
        <!-- <ng-template pTemplate="header">
            Header content here
        </ng-template> -->

        <ng-template pTemplate="content">
            <div style="display: flex; justify-content: space-between; flex-direction: row; width: 100%;">
                <div
                    style="display: flex; justify-content: space-between; flex-direction: row; gap: 16px; width: 100%;">
                    <div style="display: flex; flex-direction: row; gap: 16px; width: auto;">
                        <div style="content: url(./assets/iconos/icon_file.svg);"></div>
                        <span class="texto">{{name}} </span>
                    </div>

                    <div style="content: url(./assets/iconos/icon_delete.svg);" (click)="onClick()"></div>
                    <!-- <button>Borrar</button> -->
                </div>
            </div>

        </ng-template>

        <!-- <ng-template pTemplate="footer">
            Footer content here
        </ng-template> -->

    </p-card>

</div>